[user]
    name = Ivan Kruglov
    email = mail@ikruglov.com

[includeIf "gitdir:~/src/slurm-sre/"]
    path = ~/src/slurm-sre/.gitconfig

[alias]
    co = checkout
    st = status
    ci = commit
    br = branch -vv
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    loglive = !git --no-pager log --graph --pretty=oneline --decorate --abbrev-commit --all
    gr = log --color --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --source --all --abbrev-commit -S 
    ;; Diff
    di = diff -M -p --stat
    diw = diff -M -p --stat -w
    diww = diff -M -p --stat -w --word-diff=color
    diwwd = diff -M -p --stat -w --word-diff=color --word-diff-regex=.
    dis = diff -M -p --stat --staged
    disw = diff -M -p --stat --staged -w
    disww = diff -M -p --stat --staged -w --word-diff=color
    diswwd = diff -M -p --stat --staged -w --word-diff=color --word-diff-regex=.
    ;; Show
    s = show -M -p --stat
    sw = show -M -p --stat -w
    sww = show -M -p --stat -w --word-diff=color
    swwd = show -M -p --stat -w --word-diff=color --word-diff-regex=.

[merge]
#    conflictstyle = diff3

[rerere]
#    enabled = true

[color]
    ui = auto
    diff = auto
    grep = auto
    branch = auto
    status = auto

[pull]
    rebase = true

[push]
    default = upstream

[grep]
    lineNumber = true
    extendedRegexp = true

[log]
    #date = relative
    date = iso
    decorate = short
    abbrevCommit = true

[http]
	cookiefile = /Users/ikruglov/.gitcookies
