[user]
    name = Ivan Kruglov
    email = ivan.kruglov@yahoo.com

[alias]
    co = checkout
    st = status
    ci = commit

[color]
    ui = auto
    diff = auto
    grep = auto
    branch = auto
    status = auto

[pull]
    rebase = true

[push]
    default = upstream

[grep]
    lineNumber = true
    extendedRegexp = true

[log]
    date = iso
    decorate = short

